<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <!-- CNN -->
     <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> -->
    <title>Hi!</title>
</head>
<body>
    {% if session %}
        <h1>SESSION EXISTS!</h1>
        <code>
            <pre>
                {{session | tojson}}
            </pre>
        </code>
    {% else %}
        <h1>No Session</h1>
    {% endif %}


    {% if name %}
    <h2>and hello to {{name}}</h2>
    {% endif %}
    <form action="{{ url_for('submit')}}" method="post">
        <label for="fname">Name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="message">Message</label><br>
        <textarea id="message" name="message">
        </textarea>
        <input type="submit" value="Submit">
    </form>
    <h4>Guest List</h4>

    {% if guests %}
        {% for guest in guests %}
            <div class="guest-entry">
                <p class="guest-name">{{ guest.name }}</p>
                <p style="white-space-collapse: preserve;">{{ guest.message }}</p>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>